<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NXTCamView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NXTCamView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NXTCamView.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Colors" serializeAs="String">
                <value>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="LastColorUpload" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="TrackInColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackSolid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinAreaTracked" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowTrackLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrackSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrackArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrackNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackingOverlayFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UploadedColors" serializeAs="String">
                <value>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="TrackingDetailColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ColorTolerance" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoWhiteBalance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAdjustMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlourescentLightFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomRegisters" serializeAs="String">
                <value>False,0,0:False,0,0:False,0,0:False,0,0:False,0,0:False,0,0:False,0,0:False,0,0</value>
            </setting>
            <setting name="HighlightColors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackingMode" serializeAs="String">
                <value>Object</value>
            </setting>
        </NXTCamView.Properties.Settings>
    </userSettings>    
    <applicationSettings>
        <NXTCamView.Properties.Settings>
            <setting name="RRSReleaseFeed" serializeAs="String">
                <value>http://sourceforge.net/export/rss2_projfiles.php?group_id=203058</value>
            </setting>
        </NXTCamView.Properties.Settings>
    </applicationSettings>
    <runtime>
        <!-- Pulling out a USB serial port causes unhandled exceptions that can't be avoided.  They kill the app.
             This is not a good solution, but all that appears to be available.  
             http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=523638&SiteID=1  -->
        <legacyUnhandledExceptionPolicy enabled="1"/>
    </runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
